# Giriş
* print,input
* Variables
    - int
    - float
    - complex
    - str
    - list
    - tuple
    - dict
    - set
    - bool
* Operators
    - Aritmetic Operators
    - Comparison Opeartors
    - Logical Operators
    - Bitwise Operators
    - Identity Operator
    - Membership Operator
    - Unary Operators

## Print and Input

In [6]:
print("Merhaba Dünya",1,2)

Merhaba Dünya 1 2

In [7]:
print("Merhaba Dünya",1,2,sep=";")

Merhaba Dünya;1;2

In [9]:
print("Merhaba Dünya",1,2,sep=";",file=open("ornek.csv","a"))
print("Merhaba Dünya",1,2,sep=";",file=open("ornek.csv","a"))

In [10]:
print("Merhaba Dünya",1,2,sep=";",end="-")
print("Merhaba Dünya",1,2,sep=";")

Merhaba Dünya;1;2-Merhaba Dünya;1;2

In [11]:
var1 = input("Yaşınızı Giriniz:")

## Variables

In [12]:
import keyword as kw
print(*kw.kwlist,sep="\n")

False
None
True
and
as
assert
async
await
break
class
continue
def
del
elif
else
except
finally
for
from
global
if
import
in
is
lambda
nonlocal
not
or
pass
raise
return
try
while
with
yield

In [16]:
a = b = 1
a,b = 1,2
print(a,b)
a,b,c = [1,2,3]
a,b,c = "DVA"
print(a,b,c)

1 2
D V A

In [17]:
var1 = 2
var2 = 1.2
var3 = 1.3 + 4j
var4 = "DVA"
var5 = [1,2,3]
var6 = (1,2,3)
var7 = {"1":"Bir"}
var8 = {1,2,3}
var9 = True
print(type(var1))

<class 'int'>

In [ ]:
print(dir(var1))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'is_integer', 'numerator', 'real', 'to_bytes']

In [20]:
var4 = "DVA"
var5 = [1,2,3]
var6 = (1,2,3)

### Erişim
var4 = "DVA Python"
#       012
var4[0]

'D'

In [25]:
var4 = "DVA Python"
#       0123456789
#      -10-9-8-7-6-5-4-3-2-1
var4[1:3],var4[-9:-7]

('VA', 'VA')

In [28]:
var4 = "DVA Python"
#       0123456789
#      -10-9-8-7-6-5-4-3-2-1
var4[1:9:2] # 1 3 5 7

'V yh'

In [29]:
var4[9:1:-2] # 1 3 5 7

'nhy '

In [30]:
var4[0:4],var4[:4]

('DVA ', 'DVA ')

In [35]:
var4[:],var4[::-1]

('DVA Python', 'nohtyP AVD')

In [ ]:
var1 = "DVA"

TypeError: 'str' object does not support item assignment

### str

In [ ]:
var1 = "DVA"
var2 = 'DVA'
var3 = """
DVA"""

In [37]:
var1 = "Ali;Veli;123"
var1.split(";")

['Ali', 'Veli', '123']

In [40]:
var1 = " a      a       Ali;Veli;123    a  a    "
var1.strip("a A")

'li;Veli;123'

In [45]:
var1 = "Tripanazomigambiyetsiz"
var1.rfind("O")

-1

In [44]:
var1.index("O")

ValueError: substring not found

In [46]:
";".join(["Ali","Veli","123"])

'Ali;Veli;123'

In [ ]:
var1 = "C:\talat\nalan\bir.html"
print(var1)

C:	alat
alair.html

In [51]:
var1 = r"C:\talat\nalan\bir.html"
print(var1)

C:\talat\nalan\bir.html

In [52]:
import os
os.sep.join(("talan","nalan","bir.html"))

'talan/nalan/bir.html'

In [ ]:
a = 2
b = 1.2
metin = f" 1. Değişken {a},  2. Değişken {b}"
print(metin)

 1. Değişken 2,2. Değişken 1.2

In [57]:
a = 2
b = 1.2
metin = " 1. Değişken ,  2. Değişken  %s  " % "deneme" 
print(metin)

 1. Değişken ,  2. Değişken  deneme

In [58]:
a = 2
b = 1.2
metin = " 1. Değişken {},  2. Değişken  {}  ".format(a,b)
print(metin)

 1. Değişken 2,  2. Değişken  1.2

### list

In [59]:
liste = [[1,2],[3,4]]
#          0     1
#         0 1   0 1
liste[0][1]

2

In [61]:
liste = [1,2,3]
liste.append(100)
liste

[1, 2, 3, 100]

In [62]:
liste = [1,2,3]
liste.insert(0,100)
liste

[100, 1, 2, 3]

In [ ]:
liste = [1,2,3]
liste = liste + [100] # concatenate
liste

[1, 2, 3, 100]

In [69]:
liste = [1,2,3]
liste.extend([100,2,3,4])
liste

[1, 2, 3, 100, 2, 3, 4]

In [72]:
liste = [1,2,3]
liste.pop(0)
liste

[2, 3]

In [74]:
liste =["a","b","c","d","a","b","c","c"]
liste.remove("c")
print(liste)

['a', 'b', 'd', 'a', 'b', 'c', 'c']

In [75]:
liste =["a","b","c","d","a","b","c","c"]
liste[1] =  "B"
liste

['a', 'B', 'c', 'd', 'a', 'b', 'c', 'c']

In [76]:
l1 = [1,2,3]
l2 = l1
l2.append(2)
l1,l2

([1, 2, 3, 2], [1, 2, 3, 2])

In [77]:
l1 = [1,2,3]
l2 = l1.copy()
l2.append(2)
l1,l2

([1, 2, 3], [1, 2, 3, 2])

In [78]:
liste = [10,87,45,32]
liste.sort()
liste

[10, 32, 45, 87]

In [79]:
liste = [10,87,45,32]
liste.sort(reverse=True)
liste

[87, 45, 32, 10]

### tuple

In [ ]:
demet = ("1",2,1,1,1,3,3,1,)

print(type(demet))

<class 'tuple'>

In [84]:
a = 1
b = 2
a,b

(1, 2)

### dict

In [85]:
sozluk = {"a":1,"b":2}
type(sozluk)

dict

In [90]:
sozluk = {"a":1,
        # key:value
        #  item
          "b":2}
sozluk["a"]

1

In [91]:
sozluk["c"]

KeyError: 'c'

In [92]:
sozluk.get("c")

In [93]:
sozluk.setdefault("c",3)
sozluk

{'a': 1, 'b': 2, 'c': 3}

In [96]:
s1 = {"a":1,"b":2}
s2 = {"a":100,"c":300}
s1.update(s2)
s1

{'a': 100, 'b': 2, 'c': 300}

In [97]:
liste = ["a","b","c"]
l2 = [30,40,50]
sozluk = {}
sozluk.update(zip(liste,l2))
sozluk

{'a': 30, 'b': 40, 'c': 50}

In [99]:
s1 = {'a': 30, 'b': 40, 'c': 50}
s1.popitem(),s1

(('c', 50), {'a': 30, 'b': 40})

In [101]:
s1 = {'a': 30, 'b': 40, 'c': 50}
s1.pop("c"),s1

(50, {'a': 30, 'b': 40})

In [104]:
dict.fromkeys(["a","b","c"],0)

{'a': 0, 'b': 0, 'c': 0}

### set

In [ ]:
kume = set()

In [106]:
a = [1,2,3,2,1,1,2,3,2,2,2,3,2,1,1,2,3]
set(a)

{1, 2, 3}

In [107]:
k1 = {1, 2, 3}
k2 = {3,4,5}
k1.difference(k2)

{1, 2}

## Operators

In [108]:
a = 5
b = 2
a/b,a//b,a%b

(2.5, 2, 1)

In [110]:
a**(1/2)

2.23606797749979

In [112]:
print("çi","pet "*3)

çi pet pet pet

### Logical Operators
``` not  and  or ```

In [113]:
a = 2
b = 3
a >= 2 and b == 2

False

In [120]:
3 and 2

2

In [115]:
0 and 2

0

In [116]:
"a" and "A"

'A'

In [117]:
2 or 3

2

In [118]:
not 2

False

In [119]:
not 0

True

### identity operator

In [121]:
a = 4
print(id(a))

4384085584

In [123]:
a = 345
b = 345
a is b,a == b

(False, True)

In [124]:
a = b = 345
a is b, a == b

(True, True)

In [130]:
a = -6
b = -6
a is b,a == b

(False, True)

In [132]:
a = -6
b = -6
a is not b,a == b

(True, True)

### membership operator

In [131]:
a = [1,2,3,4,5,6]
6 in a

True

In [133]:
a = [1,2,3,4,5,6]
6 not in a

False